.faq__container {
    width: 40%;
    min-width: 320px;
    margin: auto;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.faq__container-head {
    display: flex;
    justify-content: flex-start;
}

.faq__container-head-img {
    width: 23px;
}

.faq__container-head-title {
    font-size: 40px;
    font-weight: 700;
    margin-left: 15px;
}

.faq__container-acordion {
    display: flex;
    justify-content: flex-start;
}

.accordion {
    width: 100%;
}

/* -----------------------------------ACCORDION STYLE */

.accordion-button {
    font-weight: 800;
}

.accordion-body {
    font-weight: 400;
    font-size: 15px;
}

.accordion-button:hover {
    color: #AD28EB !important
}

.accordion-button:not(.collapsed)::after {
    background-image: url('../../../public/assets/images/icon-minus.svg') !important;
}

.accordion-button::after {
    background-image: url('../../../public/assets/images/icon-plus.svg') !important;
}

@media (max-width: 375px) {
    .faq__container {
        width: 80%;
    }

    .accordion-button {
        font-size: 14px !important
    }

    .accordion-body {
        font-size: 12px;
    }
}